body {
    background-color: rgb(37, 37, 37);
    color:rgb(255, 255, 255);
    font-family: 'Times New Roman', monospace;
    font-size: 10px;
    margin-inline-end: 10px;
    padding: 30px;
    
}

.cartao {
    background-color: rgb(70, 69, 69);
    border: 0px solid rgb(255, 255, 255);
    border-radius: 20px;
}

.cartao a {
    color:rgb(255, 255, 255);
    &:hover {
        background-color: rgb(124, 124, 126);
        cursor: pointer;
    }
}

.cartao img {
    display: block;
    width: 150px;
    height: 150px;
    margin: 1px auto 10px auto;
    border-radius: 18%;
    object-fit: cover;
}