body {
    background-color: rgb(0, 0, 0);
    color:rgb(253, 253, 253);
    font-family: 'Arial';
    font-size: 20px;
    margin: 0px;
    min-height: 100vh;
    padding: 30px;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cartoes {
    display: flex;
    justify-content: center;
    gap: 0px;
}

.cartao {
    background-color: rgb(7, 7, 7);
    border: 6px solid rgb(175, 14, 14);
    border-radius: 20px;
    width: 400px;
    padding: 30px;
    margin: 5px auto;

}

.recomendado {
    transform: translateY(-20px);
    border:6px solid rgb(107, 13, 13);
}

.botoes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.botoes button {
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    background-color: rgb(175, 14, 14);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.botoes button:hover {
    background-color: rgb(202, 59, 59);
}