
body {
    background-color: #080808;
    color: #F0FFF4;
    font-family: 'Century Gothic', monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.botoes {
    display:flex;
    gap: 10px;
    margin-top: 20px;
}
.botoes button {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    color:rgb(0, 0, 0);

}

.adicionar {
    background-color: rgb(230, 82, 23);;
    color: white;
    &:hover {
        background-color: rgb(170, 62, 20);
    }
}

.comprar {
    background-color: green;
    color: white;
    &:hover {
        background-color: rgb(28, 75, 28);
    }
}

.produto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

